@model IEnumerable<Entidades.EEnlaces>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1>Enlaces</h1> <br />
    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-outline-primary" onclick="ClickNew()"><i class='bx bx-add-to-queue'></i>Agregar</button>
            <br />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <table id="GridEnlaces" class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>Provincia</th>
                        <th>Sitio</th>
                        <th>Unidad Ejecutora</th>
                        <th>Número de Linea</th>
                        <th>IP Gateway</th>
                        <th>Interface</th>
                        <th>Tipo Enlace</th>
                        <th>Bandwidth</th>
                        <th>Medio Enlace</th>
                        <th>Proveedor</th>
                        <th>Comentario</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Oficinas.Provincia</td>
                            <td>@item.Oficinas.NombreOficina</td>
                            <td>@item.Oficinas.UE</td>
                            <td>@item.Redes.Linea</td>
                            <td>@item.Redes.Gateway</td>
                            <td>@item.Redes.Interface</td>
                            <td>@item.Redes.TipoEnlace</td>
                            <td>@item.Redes.Bandwidth</td>
                            <td>@item.Redes.MedioEnlace</td>
                            <td>@item.Proveedores.NombreEmpresa</td>
                            <td>@item.Comentario</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickUpdate(@item.IdEnlace)"><i class='bx bxs-edit'></i>Editar</button>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickDelete(@item.IdEnlace)"><i class='bx bxs-trash'></i>Eliminar</button>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="root">

</div>

@section scripts{
    @if (ViewData.ContainsKey("msg"))
    {
        <script>
            Swal.fire(
                'Eliminado!',
                'Su registro ha sido Eliminado..',
                'Exitosamente'
            );
            var IsLoading = false;
        </script>
    }
    else
    {
        <script>
            var IsLoading = true;
        </script>
    }
    <script src="~/Scripts/Enlaces/Index.js"></script>
}
