@model IEnumerable<Entidades.EEnlaces>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-floating mb-3 form-group">
                        <select class=" form-select" name="Provincia" id="Provincia" arial-label="Default select example" placeholder="Provincia" required>
                            <option value="Alajuela">Alajuela</option>
                            <option value="Cartago">Cartago</option>
                            <option value="Guanacaste">Guanacaste</option>
                            <option value="Heredia">Heredia</option>
                            <option value="Limon">Limón</option>
                            <option value="Puntarenas">Puntarenas</option>
                            <option value="San Jose">San José</option>
                        </select>
                        <label for="Provincia"> Provincia </label>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-outline-primary">Buscar<i class='bx bx-search'></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<table id="GridEnlaces" class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Provincia</th>
            <th>Sitio</th>
            <th>Unidad Ejecutora</th>
            <th>Número de Linea</th>
            <th>IP Gateway</th>
            <th>Interface</th>
            <th>Tipo Enlace</th>
            <th>Bandwidth</th>
            <th>Medio Enlace</th>
            <th>Proveedor</th>
            <th>Comentario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Netpoints.Controllers.EnlacesController.Oficinas(item.IdOficina.ToString()).Provincia</td>
            <td>@Netpoints.Controllers.EnlacesController.Oficinas(item.IdOficina.ToString()).NombreOficina</td>
            <td>@Netpoints.Controllers.EnlacesController.Oficinas(item.IdOficina.ToString()).UE</td>
            <td>@Netpoints.Controllers.EnlacesController.Redes(item.IdRed.ToString()).Linea</td>
            <td>@Netpoints.Controllers.EnlacesController.Redes(item.IdRed.ToString()).Gateway</td>
            <td>@Netpoints.Controllers.EnlacesController.Redes(item.IdRed.ToString()).Interface</td>
            <td>@Netpoints.Controllers.EnlacesController.Redes(item.IdRed.ToString()).TipoEnlace</td>
            <td>@Netpoints.Controllers.EnlacesController.Redes(item.IdRed.ToString()).Bandwidth</td>
            <td>@Netpoints.Controllers.EnlacesController.Redes(item.IdRed.ToString()).MedioEnlace</td>
            <td>@Netpoints.Controllers.EnlacesController.Proveedores(item.IdProveedor.ToString()).NombreEmpresa</td>
            <td>@item.Comentario</td>
        </tr>
        }
    </tbody>
</table>
@{
    var User = (Entidades.EUsuario)Session["User"];
}
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.2/pdfmake.min.js" integrity="sha512-Yf733gmgLgGUo+VfWq4r5HAEaxftvuTes86bKvwTpqOY3oH0hHKtX/9FfKYUcpaxeBJxeXvcN4EY3J6fnmc9cA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
    <script>
        var IsLoading = true;
        if (IsLoading) Loading.fire("Cargando Datos..");
        $(document).ready(function () {
            var Usuario =@Html.Raw(User.Usuario);
            var f = new Date();
            var d = f.getDate() + "/" + f.getMonth() + "/" + f.getFullYear() + " " + f.getHours() + ":" + f.getMinutes();
            $('#GridEnlaces').DataTable({
                "searching": false,// false to disable pagination (or any other option)
                "lengthChange": false,
                dom: 'Bfrtip',
                language: {
                    sLengthMenu: "_MENU_",
                    decimal: "",
                    emptyTable: "No hay información",
                    info: "Mostrando _START_ a _END_ de _TOTAL_",
                    infoEmpty: "Mostrando 0 de 0",
                    infoPostFix: "",
                    thousands: ",",
                    loadingRecords: "Cargando...",
                    processing: "<div class='lds-dual-ring'></div>",
                    zeroRecords: "No se encontraron resultados",
                    paginate: {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                },
                buttons: [
                    {
                        extend: "pdf",
                        text: '<button class="btn btn-outline-primary">Exportar a PDF<i class="bx bxs-file-pdf" ></i></button>',
                        filename: 'Reporte de enlaces por ubicacion',
                        title: 'BCR \n Netpoints \n Reporte de enlaces por ubicacion \n Fecha:' + d,
                        customize: function (doc) {
                            doc['footer'] = (function (page, pages) {
                                return {
                                    columns: [
                                        {
                                            alignment: 'left',
                                            text:
                                                [
                                                    { text: 'Usuario: ' +Usuario, italics: true }
                                                ]
                                        },
                                        {
                                            alignment: 'right',
                                            text: [
                                                'Pagina ',
                                                { text: page.toString(), italics: true },
                                                ' de ',
                                                { text: pages.toString(), italics: true }
                                            ]
                                        }],
                                    margin: [10, 0]
                                }
                            });
                        }
                    }
                ]

                //buttons: [
                //    {
                //        "extend": 'pdfHtml5',
                //        "text": '<button class="btn btn-outline-primary">Exportar a PDF<i class="bx bxs-file-pdf" ></i></button>',
                //        "titleAttr": 'pdf',
                //        "className": '',
                //        "exportOptions": {
                //            "columns": ":visible",
                //        },
                //        "autoFilter": true,
                //        "sheetName": 'Datos exportado ANE'
                //    },
                //    {
                //        "extend": 'print',
                //        "text": '<button class="btn btn-outline-primary">Imprimir<i class="bx bxs-printer"></i></button>',
                //        "titleAttr": 'Imprimir',
                //        "exportOptions": {
                //            "columns": ":visible"
                //        },
                //        title: 'Proveedores',
                //        "className": ''
                //    },
                //],
            });
            setTimeout(function () {
                if (IsLoading) Loading.close();
            }, 500)
        });

    </script>
}